/*******************************
ASIDE
********************************/


aside {

    grid-area: aside;
    margin: 2.5em 2.5em 0 2.5em;
    border:20px solid #EDF1F3;
    row-gap: 0.2em;
    background-color: #EDF1F3; 

    #aside-first {
        padding: 1.2em;
        background-color: white;
        border-bottom: 10px solid #EDF1F3;


        .title-aside {
            margin-bottom: 1em;
        }

        .aside-links {
            .aside-list {
                padding: 0.6em 0;
                border-bottom: 2px solid #EDF1F3;

                a {
                    text-decoration: none;
                    font-size: 0.8em;
                    font-weight: 800;
                    color: #FE6935;

                    &:hover {
                        opacity: .6;
                    }
                }

                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }

    #aside-second {
        padding: 1.2em;
        background-color: white;
        border-bottom: 10px solid #EDF1F3;

        .aside-text {
            font-size: 0.8em;
            margin: 0px;
        }
    }



}






/*

.title-aside{
    margin-bottom: 1em;
}

#aside-first{
    padding:1.2em;
    background-color: white;
    border-bottom: 10px solid #EDF1F3;
}

#aside-second{
    padding:1.2em;
    background-color: white;
    border-bottom: 10px solid #EDF1F3;
}

.aside-list{
    padding: 0.6em 0;
    border-bottom: 2px solid #EDF1F3;
}

.aside-list:last-child{
    border-bottom: 0;
}

.aside-list a{
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 800;
    color: #FE6935;
}

.aside-list a:hover{
    opacity: .6;
}

.aside-text{
    font-size: 0.8em;
    margin:0px;
}
*/