
/* COLORES */
$clr-bg-primary:white;
$clr-bg-footer:rgb(0, 0, 0);

/* FUENTES */
$ff-primary: "proxima-nova", Verdana, Arial, serif;
$ff-secondary:'Hind', sans-serif;
$ff-tertiary:'Jost', sans-serif;


/* SITE MAX WIDTH */
$site-max-width:1140px;


/* REMOVE DISCLAIMER FROM 000.WEBHOST.COM*/
.disclaimer{
    display: none;
}
