
@import "variables";
@import "mixins";
@import "init";
@import "bootstrap-menu";
@import "index-box";
@import "containers";
@import "article";
@import "aside";
@import "footer";
@import "contact-form";







/* MEDIA QUERIES 

@include tablet{

    .sub-container{
        grid-template-columns: 1fr 1fr;
    }
   
    .figure-container img{
        width: 100%;
    }

    .article-text-container{
        margin-right: 0;
    }

    aside{
        display: none;
    }

    .header-text,
    .email-header{
        width: 70%;
    }
    
    .page-title{
        text-align: center;
    }

    footer .footer-middle-section .footer-form .footer-form-inputs{
        margin-right: 0;
    }


}

@media screen and (min-width: 300px) and (max-width: 734px){


    .sub-container{
        grid-template-columns: 1fr;
    }

    .text-container{
        padding-right: 0;
        margin-right: 0;
    }

    #article-list {
        grid-template-columns: 1fr;
    }

    .article-container{
        width: 100%;
    }

    .article-text-container{
        margin-right: 0;
    }

    aside{
        display: none;
    }

    .page-title{
        text-align: center;
    }
    
    .subscribe{
        justify-content: center;
    }

    .subscribe-button{
        flex-direction: column;
    }

    .header-text,
    .email-header{
        width: 100%;
    }

    
    .figure-container img{
        width: 100%;
    }


    .footer-middle-section{
        flex-direction: column;
        
    }

    .footer-middle-section:first-child{
        align-items: center;
    }

    .footer-vseparator{
        display: none;
    }

    footer .footer-middle-section .footer-links{
        width: 100%;
        column-gap:1em;
        text-align: center;
        padding: 2.5em 0;
    }

    footer .footer-middle-section .footer-form {
        width: 100%;
        padding: 2.5em 0;
    }

    footer .footer-middle-section .footer-form .footer-form-inputs{
        margin-right: 0em;
    }

    .footer-bottom-section{
        flex-direction: column;
        align-items: center;
    }

    #formulario .form-style li .divided{
        width: 100%;
    }


    
}*/